<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>Covid-19 Risk calculator</title>

    
</head>

<body>
    <div class="questions">
    <p>User questions: {{ user }}</p>
    <p>Decision questions: {{ decision }}</p>
    <!-- profile form -->
    <form action="" method="post">
        <!-- Age -->
                <p> {{ content.question_1.question_text }}</p>
                <select id="age" name="response_{{ content['question_1']['id']}}">
                    {% for option in content.question_1.answers %}
                        <option> {{option}} </option>
                    {%endfor%}
                </select>
                <br>
        <!-- Gender -->
                <p> {{ content.question_2.question_text }}</p>
                <input type="radio" id="male" name="response_{{ content['question_2']['id']}}" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="response_{{ content['question_2']['id']}}"value="female">
                <label for="female">Female</label><br>
        <!-- Medical risk -->
                <br>
                <p> {{ content.question_3.question_text }}</p>
                <select id="medical risk" name="response_{{ content['question_3']['id']}}">
                    {% for option in content.question_3.answers %}
                        <option> {{option}} </option>
                    {%endfor%}
                </select>
                <br>
     
        <!-- Symptoms -->
                <!-- <input type="checkbox" id="Symptom1" value="None" name="response_{{ content['question_4']['id']}}">
                <label for="Symptom1"> None </label><br>
                <input type="checkbox" id="Symptom2" value="acute onset cough" name="response_{{ content['question_4']['id']}}">
                <label for="Symptom"> acute onset cough</label><br>
                <input type="checkbox" id="Symptom3" value="shortness of breath" name="response_{{ content['question_4']['id']}}">
                <label for="Symptom3"> shortness of breath</label><br>
                <input type="checkbox" id="Symptom4" value="fatigue" name="response_{{ content['question_4']['id']}}">
                <label for="Symptom4"> fatigue</label><br>
                <input type="checkbox" id="Symptom5" value="muscle aches/pains" name="response_{{ content['question_4']['id']}}">
                <label for="Symptom5"> muscle aches/pains</label><br> -->
                <br>
                <p> {{ content.question_4.question_text }}</p>
                <select id="action" name="response_{{ content['question_4']['id']}}">
                    {% for option in content.question_4.answers %}
                            <option> {{option}} </option>
                    {%endfor%}
                </select>
                
                <br>

            <!-- Local Risk -->
                <br>
                <p> {{ content.question_5.question_text }}</p>
                <select id="local risk" name="response_{{ content['question_5']['id']}}">
                    {% for option in content.question_5.answers %}
                        <option> {{option}} </option>
                    {%endfor%}
                </select>
                <br>
                <br>
                <input type="submit">
        </form>
        <br>
    <!-- Activity form -->
        <form action="" method="post">
    <!-- Specific activity -->
            <p> {{ content.question_6.question_text }}</p>
            <select id="action" name="response_{{ content['question_6']['id']}}">
                {% for option in content.question_6.answers %}
                        <option> {{option}} </option>
                {%endfor%}
            </select>
            <br>
    <!-- Activity duration -->
              <br>
              <p> {{ content.question_7.question_text }}</p>
              <select id="duration" name="response_{{ content['question_6']['id']}}">
                {% for option in content.question_7.answers %}
                    <option> {{option}} </option>
                {%endfor%}
              </select>
              <br>
              <br>
              <input type="submit">
        </form>

        <br>

        <br>
    

    </div>


    <script>

        // function age(){
        //     var select = '';
        //     for (i=1;i<=100;i++){
        //         select += '<option val=' + i + '>' + i + '</option>';
        //     }
        //     document.getElementById("age").innerHTML = select;
        // }
    
        // function duration(){
        //     var temp ="";
        //     for (i=10;i<=60;i= i+10){
        //         temp += '<option val="{{request.form.duration}}">' + i + '</option>';
        //     }
        //     document.getElementById("duration").innerHTML = temp;
        // }
        // age();
        // duration();
        
    
    </script>
</body>

</html>